<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>

    <!-- 线程休眠时间，单位毫秒，若图片很大，则延长休眠时间，保证Onenote OCR完毕 -->
    <add key="WaitTIme" value="2000"/>
  </appSettings>
</configuration>